{% extends "base.html" %}
{% block title %}About me{% endblock %}

{% block content %}
<br>
   <div class="row justify-content-center">
      <div class="artbynapa-card mb-3">
         <div class="row g-0">
           <div class="col-md-4">
             <img src="{{ url_for('static', filename='images/paintings/splish_splash.jpg') }}"
             class="img-fluid rounded-start" alt="about-me">
           </div>
           <div class="col-md-8">
             <div class="artbynapa-card-body">
               <h5 class="artbynapa-card-title">Welcome to Art By NaPA...</h5>
               <p class="artbynapa-card-text">
                  <span class="name">Napa</span> is an artistic pseudnim of a woman artist who lives and works in Dresden Germany.
                  <br>
                  <p class="artbynapa-catr-text-1">
                    Throughout her studies at Academy of Fine Arts in Wrocław Poland and later, in the way 
                    of artistic work she created her own unique way of expressing emotions on canvas. 
                  </p>
                  <p class="artbynapa-card-text-2">
                    Her most popular technique is building tension through various shapes using modest 
                    variety of colors.</p>
                  <p class="artbynapa-card-text-3">
                    Her works attract attention and build a perfect counterpoint for 
                    balanced surroundings offering dynamics, rhythm and play to which the artists invites. 
                  </p>
             </div>
           </div>
         </div>
       </div>
   </div>

{% endblock %}